.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    background: url("/image/dark-fog-forest-haze-6992.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}

.logo {
    font-size: 48ph;
    color: yellow;  
}

h2 {
    color: orange;
}

.header_nav a{
    text-decoration: none;
    color: blue;
}

.header_nav a:first-child {
    color: red !important;
} 

.header_nav a:last-child {
    color: green;
}

.header_nav a:nth-child(2n+1) {
    color: violet;
}