.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    /* background: url("/image/dark-fog-forest-haze-6992.jpg"); */
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}

.logo {
    font-size: 48ph;
    color: yellow;  
}

h2 {
    color: orange;
}

.header_nav a{
    text-decoration: none;
    color: blue;
}

.header_nav a:first-child {
    color: red !important;
} 

.header_nav a:last-child {
    color: green;
}

.header_nav a:nth-child(2n+1) {
    color: violet;
}
p {
    font-size: 48px;
    color: tomato !important;
}

#one {
    color: coral;
}
 .text {
     color: blue;
}
ul > li {
width: 200px;
height: 200px;
}

a:hover,
a:focus {
    font-size: 40px;
}
h2, p, a {
    font-style: italic;
}

